{% include metadata %}

    <div id="footer">
        <div class="footer-content">

            {% if project-footer and project-footer != "" %}
                <p>
                    <a href="http://bettercare.co.za">
                        <img src="{{ path-to-root-directory }}/assets/images/bettercare-logo.svg" />
                    </a>
                    <!--{{ project-footer | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}-->
                </p>
            {% endif %}

            {% if web-footer and web-footer != "" %}
                <p>
                    {{ web-footer | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}
                </p>
            {% endif %}

        </div><!--.footer-content-->
    </div><!--#footer-->
