// Also see .search in web-nav-bar

$web-search: true !default;
@if $web-search {

    // Search in nav bar

    #nav {
        .search {
            input {
                width: 90%; // Keeps input within nav-bar bounds
                margin: 0; // Unlike default input
                // padding: 0.75em 0.75em;
                border: 0;
                // font-family: $font-text-secondary;
                // font-size: inherit;
                overflow-x: hidden; // Prevents scroll bar popping up when very long searches are entered
                background-color: $nav-bar-search-background-color;
                color: $color-mid;
            }
        }
    }

    // Search on search page

    #content {
        .search {
            margin: $line-height-default 0;
            input {
                // padding: 0.75em 0.75em;
                // border: 1px solid $color-light;
                // font-family: $font-text-secondary;
                // font-size: inherit;
                // color: inherit;
                width: 100%;
            }
        }
    }

    // Search results

    .search-results {
       ul {
        list-style-type: none;
        margin: $line-height-default 0;
      }
    }

    // Marked search results (wuth mark.js)
    mark {
        background-color: $color-highlight;
        color: inherit;
        border-radius: $button-border-radius;
    }

    .search-results-summary {
        margin: $line-height-default 0;
        padding: $line-height-default / 2;
        background-color: $color-highlight;
        border-radius: $button-border-radius;
    }

    // Google CSE styles

    // 'Searching...' or similar, while waiting for search results
    .search-placeholder {
        margin-left: 0.5em;
        margin-top: 2em;
    }
    // Hide the search submit button in the nav
    #nav .gsc-search-button {
        display: none;
    }

    // GCSE script numbers its divs in order
    // e.g. searchbox in nav, searchbox on search page, and search results
    #___gcse_0,
    #___gcse_1,
    #___gcse_2 {
        table {
            margin: 0;
            tr {
                border: 0; // overrides inherited style for tables
                line-height: 1; // keeps input text in the box
                .gsc-search-button {
                    margin-top: 1.3em; // aligns button with input; magic number :(
                }
            }
        }
        .gsc-resultsbox-visible {
            display: none; // we hide this only till our google-cse script has run
        }
        .gsc-input-box {
            font-family: $font-text-secondary!important;
            margin-left: 1em; // aligns box with list in nav, and text in results
        }
        .gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top {
            padding: 0;
        }
        .gsc-url-top {
            display: none;
        }
        .gsc-results, .gs-result {
            .gs-title {
                height: inherit;
                margin-bottom: 0.25em;
                font-family: $font-text-main!important;
                font-size: $font-size-default;
                line-height: $line-height-default * $font-size-smaller;
                text-decoration: none;
                text-decoration-color: transparent;
                & * {
                    text-decoration: none;
                    text-decoration-color: transparent;
                }
                a, b {
                    color: $color-links;
                }
                b {
                    font-size: inherit;
                }
            }
            .gs-snippet {
                font-family: $font-text-main!important;
                font-size: $font-size-default;
                line-height: $line-height-default;
            }
            .gsc-cursor-box {
                display: none;
            }
        }
        .gsc-above-wrapper-area,
        .gcsc-branding {
            display: none;
        }
    }

} // @if $web-search

@else {
    #nav {
        .search {
            display: none;
        }
    }
}
