// What is this?
// -------------
// This is typography for the Electric Book Elements theme (see http://electricbook.works).
// It is built with Sass. (See http://sass-lang.com, and http://jekyllrb.com/docs/assets for how Jekyll implements Sass.)
// It sets defaults that can be overridden in each book's own stylesheets, where the variables here are duplicated.
// 
// How to use it
// -------------
// Edit the default variables below.
// Comment/uncomment or add font imports below.
// Add your own custom CSS at the bottom.

// First, let's set character encoding. Don't change this.
@charset "utf-8";

// -------------
// Set variables
// -------------

// Edition suffix: identifies this edition in certain classes (e.g. in _epub-fitting.scss).
$edition-suffix: null;

// Max width of main body area
$max-width-default: 40em;

// We name font variables for two categories:
// - 'text' fonts are used for body text and some page features;
// - 'display' fonts are used for headings and similar short-string features.
// For each category, we set a main font and a secondary font, allowing up to four fonts.
// Finally, we set a fifth, monospace font for elements like computer code.
$font-text-main: "Crimson", serif;
$font-text-secondary: "Source Sans Pro", sans-serif;
$font-display-main: "Source Sans Pro", sans-serif;
$font-display-secondary: "Crimson", serif;
$font-code: "Ubuntu Mono", monospace;

// Set font size and line-height in ems or px.
// These values, especially $line-height-default, are used to compute vertical rhythm
// for many features in this theme. So do not use a unitless value for line-height,
// and don't use percentages, which will break layouts computed by multiplying this value.
$font-size-default: 1.4em;
$line-height-default: 1.5em;
$font-size-smaller: 0.7; // How much smaller than font-size-default for features like sidenotes and footers?
$font-size-bigger: 2; // How many times bigger than font-size-default for features like headings and pullquotes?

// Do you want space between paragraphs, rather than a text-indent? true or false
$spaced-paras: true;

// Buttons
$button-border-radius: 0.2em; // Roundness of button corners.

// Colours
$color-text-main: #222222;
$color-text-secondary: #222222;
$color-background: white;
$color-light: #e0e0e0;
$color-mid: #9c9c9c;
$color-accent: #4f89d2;
$color-links: $color-accent;
$color-buttons: $color-accent;
$color-buttons-hover: darken( $color-buttons, 20% );
$color-highlight: #ffd54d;

// Some features rearrange at certain screen sizes.
// What are your break points for rearrangement?
$break-point-height: 600px;
$break-point-width: 600px;

// Set the default start-depth of pages.
// This is the distance from the top of the page to the first element on the first page.
$start-depth: $line-height-default * 2;

// Hyphenation
// Variables here apply to p, ul, ol, dl.
// Note: Most browsers and ereaders do not support hyphenation rules.
$hyphenation: auto; // Can be auto, none, or manual (only breaks on hyphens and soft hyphens)
$hyphenation-dictionary: ""; // Path to dictionary file, relative to `/book/styles`. E.g. "../../assets/hyph.dic".
$hyphenation-custom: add; // add or replace. Whether your dictionary adds to or replaces the built-in Prince dictionaries
$hyphenate-after: 3; // Minimum letters on new line after hyphen
$hyphenate-before: 3; // Minimum letters at end of line before hyphen
$hyphenate-lines: 1; // Maximum number of consecutive lines ending with hyphens

// Text dividers
// For breaks created with *** in markdown.
$text-divider: ""; // Empty leaves space. \2022 is a bullet

// Footer
$footer-text-color: $color-text-main;
$footer-background-color: $color-accent;
$footer-border-color: $color-accent;

// Website masthead
$masthead-text-color: $color-light;
$masthead-background-color: $color-accent;
$masthead-border-color: $color-light;

// Website sidebar/navigation
$nav-bar-text-size: 0.8em;
$nav-bar-item-collapse: false; // Does the nav list fully expand, or collapse until mouseover?
$nav-bar-close: "\00D7"; // &times; ×
$nav-bar-children-prompt: "+";
$nav-bar-children-prompt-hide: "\2212"; // \2212 is an actual minus sign
$nav-bar-scrollbar: true;
$nav-bar-width: 15em;
$nav-bar-fixed: true; // fixed is not fully supported on many mobile browsers
$nav-bar-label-color: $color-light;
$nav-bar-label-background-color: $masthead-background-color;
$nav-bar-border-color: $color-light;
$nav-bar-background-color: white;
$nav-bar-search-background-color: white;
$nav-bar-parent-background-color: white;
$nav-bar-parent-text-color: $color-text-main;
$nav-bar-parent-hover-color: $color-accent;
$nav-bar-parent-text-hover-color: white;
$nav-bar-children-prompt-color: $color-mid;
$nav-bar-child-background-color: $color-light;
$nav-bar-child-text-color: $color-text-main;
$nav-bar-child-hover-color: $color-accent;
$nav-bar-child-text-hover-color: white;

// ---------------------------------
// Set to false to turn partials off
// ---------------------------------

// Reset browser CSS as best we can
$web-css-reset: true;

// Structural HTML components
$web-wrappers: true;

// Default typography
$web-base-typography: true;

// Navigation
$web-masthead: true;
$web-search: true;
$web-nav-bar: true;
$web-footer: true;

// Book parts
$web-cover: true;
$web-previous-publications-page: true;
$web-title-pages: true;
$web-copyright-page: true;
$web-dedications: true;
$web-epigraphs: true;
$web-toc: true;

// Book-feature classes
$web-bibliographies: true;
$web-boxes: true;
$web-buttons: true;
$web-code: true;
$web-dialogue: true;
$web-figures: true;
$web-highlighter: true;
$web-glossaries: true;
$web-index: true;
$web-maths: true;
$web-notes: true;
$web-openers: true;
$web-pullquotes: true;
$web-sources: true;
$web-tables: true;
$web-letters: true;
$web-verse: true;
$web-video: true;

// Type-control classes
$web-smallcaps: true;
$web-fitting: true;  // E.g. tracking and shrinking

// Logic (if this then that)
$web-reset-sequences: true; // This should stay last in the @import list

// ----------------------------------------------------
// Import font files (@font-face) for fonts you specify
// ----------------------------------------------------

// Import fonts from book-specific CSS.

// ---------------------
// Theme modules
// ---------------------

// Reset browser CSS as best we can
@import "partials/web-css-reset";

// Structural HTML components
@import "partials/web-wrappers";

// Default typography
@import "partials/web-base-typography";

// Navigation
@import "partials/web-masthead";
@import "partials/web-nav-bar";
@import "partials/web-search";
@import "partials/web-footer";

// Book parts
@import "partials/web-cover";
@import "partials/web-previous-publications-page";
@import "partials/web-title-pages";
@import "partials/web-copyright-page";
@import "partials/web-dedications";
@import "partials/web-epigraphs";
@import "partials/web-toc";

// Book-feature classes
@import "partials/web-bibliographies";
@import "partials/web-boxes";
@import "partials/web-buttons";
@import "partials/web-code";
@import "partials/web-dialogue";
@import "partials/web-figures";
@import "partials/web-glossaries";
@import "partials/web-highlighter";
@import "partials/web-index";
@import "partials/web-maths";
@import "partials/web-notes";
@import "partials/web-openers";
@import "partials/web-pullquotes";
@import "partials/web-sources";
@import "partials/web-tables";
@import "partials/web-letters";
@import "partials/web-verse";
@import "partials/web-video";

// Type-control classes
@import "partials/web-smallcaps";
@import "partials/web-fitting";  // E.g. tracking and shrinking

// Logic (if this then that)
@import "partials/web-reset-sequences"; // This should stay last in the @import list

// ---------------------------------------------------------------
// Custom series CSS
// ---------------------------------------------------------------

// Variables

$color-accent-secondary: #4fd298;

// Basic typography

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    strong:first-of-type {
        color: $color-mid;
        display: block;
    }
}

a {
    &.button {
        padding: 0.4em; // overrides template
    }
}

// Masthead

.masthead {
    li {
        // Reset markdown font weight
        strong {
            font-weight: normal;
        }
    }
}

[href="#nav"] {
    min-width: 1em;
    text-align: center;
}

// Home page

.home {
    .book-gallery {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // If no heading on the page, add space above
        &:first-child {
            margin-top: 2em;
        }
        .book-gallery-book {
            flex: 1 1 8em;
            margin-bottom: 1.5em;
            display: inline-block; // fallback where flex isn't supported
            text-align: center;
            .book-gallery-image {
                display: block;
                img {
                    max-height: 8em;
                    border: 1px solid $color-light;
                }
            }
            .book-gallery-title {
                display: none;
            }
        }
    }
}

// Contents pages


// Key concepts boxes

blockquote {
    font-family: $font-text-secondary;
    clear: both;
    color: white;
    background-color: $color-accent-secondary;
    font-weight: bold;
    margin: 1em 0;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 0.2em;
    p {
        margin: 0;
        padding: 0;
    }
    .box {
        background-color: inherit;
        color: inherit;
        font-weight: inherit;
        font-size: inherit;
        padding: 0;
        border: 1px solid $color-mid;
        p {
            margin: 0 0 0.5em 0;
        }
    }
}

// Notes
 
dl {
    color: $color-mid;
    font-family: $font-text-secondary;
    padding: 0 1em;
    font-size: 1em * $font-size-smaller;
    line-height: $line-height-default;
    // add back similar space to normal paragraph space-below
    margin-bottom: $line-height-default / $font-size-smaller;
    dt {
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }
    dd {
        .table-caption {
            margin-top: 1em;
        }
    }
}

// Figures

// Legacy styling

// Note: we use the blockquote element to wrap figures and their captions in valid XHTML. 
// Use the .figure class for the blockquote wrapping an image and a caption. 
// Add .fixed, .small and/or .large for layout and size options.

blockquote.figure {
    clear: both;
    page-break-inside: avoid;
    background-color: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: $color-mid;
    border: 1px solid $color-mid;
    border-radius: $button-border-radius;
    margin: 1em 0;
    padding: 0.5em;
}
.figure p {
    clear: both;
    text-align: center;
    page-break-inside: avoid;
    page-break-before: avoid;
}
.figure p img {
    padding: 0.5em 0 1em 0;
    margin: 0 auto;
    max-width: 100%; 
    object-fit: scale-down;
}
@media screen and (max-height: 800px) {
    blockquote.figure p img {
        max-height: 400px;
        }
}
@media screen and (max-height: 500px) {
    blockquote.figure p img {
        max-height: 200px;
        }
}.figure p:nth-child(2) {
    padding: 0.5em 0 0 0;
    border-top: 1px dashed $color-mid;
    text-align: left;
}
.figure.x-small p img {}
.figure.small p img {}
.figure.large p img {
    max-height:inherit;
}
@media screen and (min-width: 600px) {
    .figure.large p img {
        max-height: 600px;
    }
}

// Title pages

.title-page {
    .titlepage-title {
        font-size: 3em;
        font-weight: 700;
        line-height: 100%;
    }
    .titlepage-subtitle {
        font-weight: 400;
        margin: 0 0 1em 0;
        line-height: 100%;
    }
    .titlepage-author {
        font-size: 1.5em;
        margin: 0 0 2em 0;
    }
    .titlepage-logo {
        width: 200px;
    }
}

// Tables of contents

/*
 * Table of contents NEEDS WORK
 */

.toc-list, .chapter-toc {
    font-family: $font-text-secondary;
    list-style-type: none;
    margin: 0;
    a {
        clear: both;
        text-decoration: none;
        border: 1px solid #f2f2f2;
        padding: 0.25em;
        margin: 0 0 0.5em 0;
        display: block;
        border-radius: $button-border-radius;
        background-color: #f9f9f9;
        &:hover {
            background-color: white;
        }
        strong:first-of-type {
            font-weight: normal;
        }
    }
    li {
        &.frontmatter-entry {
            display: inline-block;
            float: left;
            margin-right: 0.5em;
            a {
                background-color: white;
                &:hover {
                    background-color: #f9f9f9;
                }
            }
            ul, ol {
                li {
                    display: none;
                }
            }
        }
        ul, ol {
            li {
                display: none;
            }
        }
    }
}

toc-list, .markdown-toc {
    font-family: $font-text-secondary;
    h1#contents {
        display: none; // Takes up too much space on small screens
    }
    ol, ul, ul.chapter-toc {
        list-style-type: none;
        margin: 0 0 1em 0;
        padding: 0;
        li, .chapter-toc li {
            margin: 0 0 0.5em 0;
            a, .chapter-toc a {
                clear: both;
                text-decoration: none;
                border: 1px solid #f2f2f2;
                padding: 0.25em;
                margin: 0 0 0.5em 0;
                display: block;
                border-radius: 0.2em;
                background-color: #f9f9f9;
                &:hover {
                    background-color: white;
                }
            }
            ol, ul {
                display: none;
                li {
                    margin: 0 0 0 1em;
                    a {
                        color: #b2b2b2;
                    }
                }
            }
        }
    }
    .auxiliary a {
        color: #b2b2b2;
    }
    .prelims {
        a {
            background-color: white;
            display: inline-block;
            float: left;
            clear: none;
            margin-right: 0.5em;
            color: #b2b2b2;
            &:hover {
                background-color: #f9f9f9;
            }
        }
    }

}

// Static tests pages

/*
 * Tests
 */

.test ol li {
    margin: 0 0 1em 0;
 }
.test ol li li {
    list-style-type: lower-alpha;
    margin: 0;
}
.test .correct-answer {
    display: none;
    border: 1px solid #f2f2f2;
    padding: 0.1em 0.3em;
    border-radius: 0.2em;
    margin: 0 0 0 0.5em;
}
.test .keep-together {
    page-break-inside: avoid;
}

/*
 * Live tests
 */

.live-test {
    display: none; /* Element hidden till show/hide script rewrites this line */
}
.live-test iframe {
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 0.2em;
    padding: 0 0.5em;
    margin: 1em 0;
    height: 25em;
    box-shadow: 2px 2px 2px 0 #cccccc;
    overflow-y: scroll;
    background-color: white;
    max-width: 95%;
}
.test-result-page {
    margin: 5em 0 0 0;
}
.loading:before {
    content: "Loading…";
    text-align: center;
    margin: 2em 1em 1em 1em;
    position: absolute;
    z-index: -1;
}

/* Exams. This styling is intended for printing exam papers from the screen. */

.exam {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    margin: -6em 0 0 0;
    font-size: 0.7em;
    line-height: 120%;
}
.exam h1 {
    -webkit-column-span: all;
    column-span: all;
}
.exam table {
    width: 100%;
    -webkit-column-span: all;
    column-span: all;
}
.exam ol {
    margin: 0 0 0 1em; /* Keeps questions inside the printable area */
}
.exam ol li {
    font-weight: 600;
    margin: 0 0 1em 0;
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
}
.exam ol li li {
    font-weight: normal;
    margin: 0;
}
.exam ol ul {
    list-style-type: lower-alpha;
}
.exam blockquote {
    max-width: 100%;
    -webkit-column-span: all;
    column-span: all;
}
.exam .correct {
    font-weight: normal;
}
.exam .exam-version {
    font-style: italic;
    text-align: right;
    -webkit-column-span: all;
    column-span: all;
    max-width: 100%;
}
